
.icon-desserts--3:before { content: '\e800'; } /* '' */
.icon-couscous---3-01:before { content: '\e801'; } /* '' */
.icon-boissons---3-01:before { content: '\e802'; } /* '' */
.icon-entrée---3:before { content: '\e803'; } /* '' */
.icon-burger---3-01:before { content: '\e804'; } /* '' */
.icon-poissons---3-01:before { content: '\e805'; } /* '' */
.icon-pizza---3-01:before { content: '\e806'; } /* '' */
.icon-nos-viandes---3-01:before { content: '\e807'; } /* '' */