/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "assets/vendor/slick/slick.min.css";
@import "assets/vendor/slick/slick-theme.min.css";


@import "assets/vendor/icons/feather.css";
@import "assets/vendor/bootstrap/css/bootstrap.min.css";
@import "assets/vendor/sidebar/demo.css";

@import "assets/css/style.css";

.scroll {
    overflow-y: scroll;
    min-height: 100vh !important;
    background-color: #f8f9fa;
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.filter-category{
    cursor: pointer;
}

.menu-icon{
    font-size: 40px;
}

.menu-side-header{
    background-color: #e8e8e8;
    font-weight: bold;
    font-size: 16px;
}

.side-menu{
    height: 100%;
    background-color: #858585;
    background-image: url(https://paradise-grill.fr/build/images/home/carousel/terrasse.8516abd9.jpg);
    background-size: cover;
    filter: blur(6px);
}

.menu-side-list{
    height: 100%;
    background-color: #313131e0;
    z-index: 18;
    color: #9d9d9d;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.menu-side-list > .item-menu{
    padding: 15px 25px;
    font-size: 19px;
    border-bottom: 1px solid #5e5e5e;
    cursor: pointer;
    padding-left: 92px;
    position: relative;
}

.menu-side-list > .item-menu > .category-icon{
    position: absolute;
    left: 14px;
    top: -8px;
    font-size: 50px;
}

.active-menu-item{
    padding-left: 50px;
    color: #ffb1bc;
}

.item-sup{
    padding: 12px 30px;
    margin-bottom: 6px;
    margin-right: 6px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e13140;
    color: #e13140;
}

.item-sup.active{
    background-color: #e13140;
    border: 1px solid #e13140;
    color: white;
}

.osahan-home-page{
    width: 101%;
}